.card {
  height: 200px;
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #D1D1D2;
  position: relative;
  padding: 10px;
}

.card .content {
  height: 205px;
}

.card .content .image {
  height: 165px;
  font-weight: bold;
}

.card .content .text{
  position: absolute;
  bottom: 10px;
  height: 40px;
  background-color: lightgoldenrodyellow;
  max-width: 100px;
  min-width: 100px;
  font-size: 11px;
  font-weight: bold;
}

.card .content .year {
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 62px;
  background-color: lightgoldenrodyellow;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card.seleccionable {
  cursor: pointer;
}
.card.seleccionable:hover {
  color: #229DB2;
  border: 1px solid #229DB2;
}
.card.seleccionable:hover > div {
  border-color: #229db26e;
}
.card.seleccionable:hover .logo-palo {
  -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
  filter: grayscale(100%) brightness(75%) sepia(100%) hue-rotate(-184deg) saturate(400%) contrast(0.4);
}

.card.seleccionada {
  color: #229DB2;
  border: 1px solid #229DB2;
}