.playedCards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.playedCards .card {
    margin-left: 5px;
    margin-right: 5px;
}

.cardAndSlot {
  display: flex;
  flex-direction: row;
}