.createMatchTitle {
  text-align: center;
}

.newMatchInput {
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

.createMatchButton {
  float: right;
  margin: 10px 14px 10px;
}

.block {
  display: block;
}