.gameTable {
  display: grid;
}

.leftPanel {
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid grey 3px;
  border-radius: 4px;
}

.leftPanelGrid {
  display: grid;
}

.middlePanel {
  grid-row-start: 2;
  margin-top: 25px;
  overflow: auto;
}

.bottomPanel {
  grid-row-start: 3;
  display: flex;
}

.topPanel {
  grid-row-start: 1;
}

.rightPanel {
  grid-column-start: 3;
  border: solid grey 3px;
  border-radius: 3px;
  margin-left: 1px;
}

.rightPanelComponents {
  float: right;
}

.discard {
  margin-top: 140px;
}

.opponentCards {
  margin: 5px;
}

.opponentName {
  font-weight: bold;
  font-size: 18px;
  background-color: darkgrey;
}

.opponentCards div {
  /* border-bottom: solid 2px grey;
  border-top: solid 2px grey; */
}